# ===== LiveStore development ignores =====

# CrTranslateMate
upload/admin/CrTranslateMate/
upload/admin/controller/extension/module/cr_translate_mate.php
upload/admin/language/en-gb/extension/module/cr_translate_mate.php
upload/admin/model/extension/module/cr_translate_mate.php
upload/admin/view/template/extension/module/cr_translate_mate.twig
upload/admin/view/template/extension/module/cr_translate_mate_table.twig


# ===== Local configs =====
upload/config.php
upload/admin/config.php


# ===== Disable install on server =====
install_
upload/install_


# ===== Demo modifier =====
system/demo_demo.ocmod.xml


# ===== Image cache =====
upload/image/cache/*


# ===== OpenCart storage =====
upload/system/storage/cache/*
upload/system/storage/logs/*
upload/system/storage/session/*
upload/system/storage/modification/*
upload/system/storage/download/*
upload/system/storage/upload/*


# ===== Allow index.html =====
!upload/system/storage/cache/index.html
!upload/system/storage/logs/index.html
!upload/system/storage/session/index.html
!upload/system/storage/modification/index.html
!upload/system/storage/download/index.html
!upload/system/storage/upload/index.html


# ===== Composer =====
vendor/


# ===== IDE =====
.idea/